.advantages__intro,
.advantages__what {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
}
