/* Временно для сетки */
.app {
  background-color: transparent;
}

.app__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.app__topic {
  display: none;
  width: 320px;
  background-color: transparent;
}

.app__photo {
  margin-top: 115px;
  background-color: transparent;
}

.app__pril {
  display: flex;
  width: 300px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 28px;
  padding-bottom: 28px;
  margin: 0 auto;
  background-color: @bg-darkgrey;
}

.app__button {
  width: 205px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  border: solid white 3px;
  border-radius: 30px;
  padding-left: 37px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 17px;
  background-color: @bg-darkgrey;
}

.app__list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 16px;
  width: 320px;
  justify-content: center;
  background-color: @bg-darkgrey;
}

.app__item {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.app__icon--apple {
  width: 47px;
  height: 60px;
}

.app__icon--android {
  width: 43px;
  height: 47px;
  margin-left: 34px;
  margin-right: 37px;
}

.app__icon--windows {
  width: 44px;
  height: 41px;
}

.app__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
  padding-bottom: 31px;
  background-color: @bg-darkgrey;
}

@media (min-width: @tablet-width) {
  .app__wrapper{
    display: flex;
    width: 620px;
    margin: 0 auto;
    padding-bottom: 86px;
  }

  .app__topic{
    display: block;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    width: 190px;
    height: 126px;
    margin-left: 59px;
    margin-top: 92px;
    margin-bottom: 20px;
  }

  .app__photo {
    position: absolute;
    right: 50px;
  }

  .app__pril {
    margin: 0;
    margin-bottom: 18px;
    background-color: transparent;
  }

  .app__button {
    background-color: transparent;
    margin: 0;
    padding-left: 40px;
    padding-right: 45px;
  }

  .app__list {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    background-color: transparent;
  }

  .app__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    width: 350px;
    height: 41px;
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .app__wrapper {
    display: flex;
    width: 1000px;
    margin: 0 auto;
  }

  .app__list {
    margin: 0;
    margin-bottom: 61px;
    padding: 0;
    background-color: pink;
  }

  .app__description {
    margin: 0;
    margin-bottom: 78px;
    padding: 0;
    background-color: orange;
  }

  .app__topic {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
    padding: 0;
    margin-bottom: 78px;
    margin-top: 108px;
    margin-left: 63px;
    width: 231px;
  }

  .app__button {
    width: 235px;
    height: 21px;
    margin: 0 auto;
    border-radius: 30px;
    padding-left: 33px;
    padding-right: 32px;
    padding-top: 19px;
    padding-bottom: 16px;
  }

  .app__pril {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 33px;
  }

  .app__list {
    margin-left: 20px;
    padding: 0;
    margin-bottom: 50px;
  }
}
