/* Временно для сетки */
.app {
  background: transparent;
}

.app__topic{
  display: none;
}

.app__button {
  width: 202px;
  height: 18px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  border: solid white 3px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 17px;
}

.app__item {
  list-style: none;
}

.app__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
}
