.body-wrapper {
  background: @bg-white url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 462px;
  background-position: center top 350px;
}

@media (min-width: @tablet-width) {
  .body-wrapper {
    background: @bg-white url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
    background-size: 1178px auto;
    background-position: center top 350px;
  }
}

@media (min-width: @desktop-width) {
  .body-wrapper {
    background: @bg-white url("../img/back-desktop-jpg.jpg") no-repeat 50% 0;
    background-size: 1391px auto;
  }
}
