.main-nav {
  width: 320px;
  margin: 0 auto;
  background-color: transparent;
}

.main-nav__list {
  list-style: none;
}

.site-list__item a {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.78;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
