.page-footer {
  background-color: @bg-white;
}

.social__list {
  list-style: none;
}

.copyright__text {
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.29;
letter-spacing: normal;
text-align: left;
}

.copyright__link {
  width: 27px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/logo-htmlacademy.svg");
  background-color: #ffffff;
}
