.photos-wrapper {
  margin: 0 auto;
  width: 320px;
  display: flex;
  background-color: @bg-lightgrey;
}

.photos__title {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 49px;
}

.photos__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: @bg-lightgrey;
}

.photos__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
}

.photos__day {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 100px;
  height: 12px;
  background-color: @bg-pink;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 11px;
  position: absolute;
  right: 125px;
  z-index: 1;
}

.photos__card {
position: relative;
}

.photos__description{
display: flex;
flex-direction: column;
width: 280px;
margin-top: 50px;
background-color: blue;
}

.photos__author-name {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
  padding: 0;
  margin: 0;
}

.photos__select {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__text {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
  padding: 0;
  margin: 0;

}

.photos__number {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .photos-wrapper {
    margin: 0 auto;
    width: 620px;
    display: flex;
  }

  .photos__list {
    margin: 0 auto;
    width: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__card img {
    width: 660px;
    height: 509px;
  }

  .photos__title {
    width: 436px;
    margin: 0 auto;
  }

  .photos__text {
    max-width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .photos-wrapper {
    margin: 0 auto;
    width: 1000px;
    display: flex;
  }

  .photos__list {
    width: 940px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photos__card img {
    width: 1200px;
    height: 506px;
  }

  .photos__title {
    width: 568px;
    margin: 0 auto;
  }

  .photos__text--day {
    width: 568px;
  }
}
